<phpunit bootstrap="vendor/autoload.php"			
			colors="true"
            testdox="true"
			verbose="true"
			convertErrorsToExceptions="true"
			convertNoticesToExceptions="true"
			convertWarningsToExceptions="true">
			<testsuites>
				<testsuite name="Termii Tests">
					<directory>tests</directory>
				</testsuite>
			</testsuites>
            <php>
                <server name="API_KEY" value="testing"/>
            </php>
</phpunit>